p {
    color:rgb(174, 28, 50);
    font-size: 22px;

}
h1 {

    background-color:blueviolet;
}
body {

    background-color: blanchedalmond;
}
form{

    background-color: aquamarine;
}
div{

    background-color: darkgreen;
    border: 4px solid blue;
    padding: 20px;
    text-align: center;
    font-style: italic;
}